:root {
  --pixel-size: 3px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --bg: #fdfdfd;
}
html, body {
  height: 100%;
}
body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 5px;
}
.map ul {
  display: flex;
  flex-direction: column;
}
.map li {
  padding: 5px;
}
.map .reset  {
  color: #000;
  text-decoration: none;
  padding: 5px 15px;
  background: #ddd;
  border: 1px #000 solid;
  border-radius: 5px;
}
.map .reset:hover {
  background: #000;
  color: #ddd;
}


/* MAP SIZE */
.map {
  image-rendering: pixelated;
  background-image: url("img/map2.png");
  background-size: 100%;
  width: calc(14 * var(--grid-cell));
  height: calc(10.49 * var(--grid-cell));
}
/* CHARACTER SIZE */
.character {
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  overflow:hidden;
}



/* SPRITESHEET CHARACTER */
.character_spritesheet {
  position: absolute;
  background: url("/img/fat.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc( var(--grid-cell)* 8 );
  height: calc( var(--grid-cell)* 8 );
}


/* SPRITESHEETS ANIMATION */
.character[facing="right"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.4s steps(4) infinite; 
}


/* WALK ANIMATION */
@keyframes walkAnimation {
 /* from {
   transform: translate3d(0%,0%,0);
 } */
 to {
   transform: translate3d(-100%,0%,0);
 }
}


/* ------- COOKIES --------- */
.cookies {

}

.cookies #cookie-1 {
  position: absolute;
  top: 350px;
  left: 550px;
  visibility: none;
  width: 33px;
  height: 33px;
  position: absolute;
  overflow:hidden;
}
.cookies #cookie-2 {
  position: absolute;
  top: 170px;
  left: 90px;
  visibility: none;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow:hidden;
}






