@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --bg: #000000;
}
html, body {
  height: 100%;
}
body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}
ul {
  list-style: none;
  padding: 5px;
  color: red;
}
a {
  text-decoration: none;
  color: #fff;
}
.map ul {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;

}
.map li {
  padding: 5px;
}
.map .reset  {
  color: #000;
  text-decoration: none;
  padding: 5px 15px;
  background: rgb(179, 179, 179);
  border: 1px #000 solid;
  border-radius: 5px;
}
.map .reset:hover {
  background: rgb(66, 39, 39);
  color: #ddd;
}


/* MAP SIZE */
.map {
  image-rendering: pixelated;
  background-image: url("img/level1.png");
  background-size: 100%;
  width: calc(52 * var(--grid-cell));
  height: calc(52 * var(--grid-cell));
  border: solid red 2px;
  position: absolute;
}
/* CHARACTER SIZE */
.character {
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  overflow: hidden;
}
/* SPRITESHEET CHARACTER */
.character_spritesheet {
  position: absolute;
  background: url("/img/heroSlim.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc( var(--grid-cell)* 8 );
  height: calc( var(--grid-cell)* 8 );
}
/* Door */
.door {
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  top: 36px;
  left: 316px;
  z-index: -1;
  /* visibility: unset; */
}





/* LEVER SIZE */
.lever {
 
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  overflow: hidden;
  top: 150px;
  left: 10px;
}
/* SPRITESHEET LEAVER */
.lever_spritesheet {
  
  position: absolute;
  background: url("/level1/img/lever1.png") no-repeat no-repeat;
  background-size: 100%;
  width: calc( var(--grid-cell)* 4);
  height: calc( var(--grid-cell)* 4 );
}
/* SPRITESHEETS LEAVER ANIMATION */

.lever[pull="true"] .lever_spritesheet {
  animation: leverAnimation 0.8s steps(2) 1; 
}
/* LEAVER ANIMATION */
@keyframes leverAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
 }






/* SPRITESHEETS ANIMATION */
.character[facing="right"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_spritesheet {
  background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.4s steps(4) infinite; 
}


/* WALK ANIMATION */
@keyframes walkAnimation {
 /* from {
   transform: translate3d(0%,0%,0);
 } */
 to {
   transform: translate3d(-100%,0%,0);
 }
}


/* ------- COOKIES --------- */
.cookies {
position: relative;
z-index: -1;
}

.cookies #cookie-1 {
  position: absolute;
  top: 700px;
  left: 110px;
  visibility: none;
  width: 33px;
  height: 33px;
  position: absolute;
  overflow:hidden;
}
.cookies #cookie-2 {
  position: absolute;
  top: 485px;
  left: 500px;
  visibility: none;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow:hidden;
}

/* YOU DIE */
.container {
  visibility: hidden;
  background: rgb(70, 26, 26);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  z-index: 0;
}

.container .youdied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #e4ce0f;
  font-size: 30px;
  text-align: center;
  /* z-index: ; */
}
.container .youdied p {
  font-size: 70px;
  padding: 50px;
  line-height: 1.4;
}
/* NEXT LEVEL */
.container_next_level {
  visibility: hidden;
  background: rgb(70, 26, 26);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
  z-index: 0;
}

.container_next_level .next_level_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #e4ce0f;
  font-size: 30px;
  text-align: center;
  /* z-index: ; */
}
.container_next_level .next_level_screen p {
  font-size: 70px;
  padding: 50px;
  line-height: 1.4;
}

/* Utility Classes */
.btn {
  background: #000000;
  padding: 13px 22px;
}
.btn:hover {
  background: #fff;
  color: #000;
  padding: 13px 22px;
}
.now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  font-size: 10px;

}






